.tite{
    text-align: center;
    margin-bottom: 80px;
    font-size: 18px;
}
.post-box{
    width: 300px;
    margin: auto;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgb(27 28 214 / 51%);
    padding: 5px;
    text-align: center;
    .post-img{
        border-radius: 127px;
        width: 268px;
        height: 251px;
        object-fit: cover;
        padding-top: 30px;
    }
    h1{
        color: #686B75
    }
    p{
        color: #686B75;
        opacity: 0.8;
    }
    .post-like{
        justify-content: space-evenly;
        display: flex;
        .like-box{
            -webkit-animation: pulse 1.2s 4s ease 100000000;
            animation: pulse 2.5s 0s ease 100000000;
            background: #EDD3C6;
            padding: 3px;
            padding-bottom: 0px;
            border-radius: 24px;
        }
        .icon{
            width: 45px;
            cursor: pointer;
        }
    }
}
.like-counter{
    position: absolute;
    top: 107px;
    right: calc(50% - 167px);
    color: #686B75;
    opacity: 0.8;
    background:#FFA7A7;
    padding: 4px;
    border-radius: 9px;
    text-align: center;
    padding-top: 3px;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        opacity: 0.9;
    }
    100% {
        transform: scale(1.2);
        opacity: 1;
    }
  }