<h1 class="tite">Angular Unit testing demo with Karma</h1>
<div class="post-box"> 
    <div>
        <img class="post-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmgyRKmsHgyUFvhgoN7xKSGh3zAAiRisuttA&usqp=CAU" alt='post'>
        <h1>Lorem ipsum dolor sit amet</h1>
        <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
    </div>
    <div class="post-like">
        <span class="dislike-box"><img class="icon" src="https://www.svgrepo.com/show/99631/cancel-icon.svg" alt='ic1'> </span>
        <span class="like-box" (click)="like()">
            <img class="icon" src="https://www.vectorico.com/wp-content/uploads/2018/02/Facebook-Heart-300x300.png" alt='ic2'>
        </span>
    </div>
</div>    
<span class="like-counter">{{counter}}</span>